.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(42, 28, 30);
    padding: 10px;
    z-index: 20;
    background-color: rgb(242, 220, 255);
    display: none;
    text-align: center;
    font-size: 50px;
    font-style:italic;
}

.modal-image{
    width: 700px;
    height: 450px;
}

.modal.is-show{
    display: block;
}

.overlay.is-show{
    display: block;
}

.modal-cross{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 46, 165, 0.353);
    z-index: 10;
    display: none;
}